#root {
  width: 400px;
  min-width: 320px;
  margin: 0 auto;
}
.tip {
  background: #fbff003b;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
}
.category_label {
  font-weight: bold;
  display: block;
  font-size: 0.5em;
  background-color: #7e7e7e;
  color: #ffffff;
  width: fit-content;
  margin: 4px auto 0;
  padding: 1px 7px;
  border-radius: 4px;
}
.category_label--animal {
  background-color: #acd419;
}
.category_label--lugar {
  background-color: #db7c10;
}
.category_label--alimento {
  background-color: #e900d5;
}
.category_label--cosa {
  background-color: #6d00e9;
}